@media print {
    /* Hide unnecessary elements */
    #header,
    #footer {
        display: none;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Adjust margin as necessary */
    padding: 10px;
    width: 250px; /* Adjust width as necessary */
    background-color: #f9f9f9;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d9534f; /* Example color */
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    color: #007bff; /* Link color */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}
